<nav-bar></nav-bar>
<main class="home container-custom">
  <div class="flex flex-column gap-2">
    <span>Te encuentras en: </span>
    <div class="flex gap-3">
      <button>Norte</button>
      <button>Sur</button>
      <button>Este</button>
      <button>Oeste</button>
    </div>
  </div>

  <p-card header="Pregunta nº">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam repellat libero
      asperiores earum nam nobis, culpa ratione quam perferendis esse,
      cupiditate neque quas!
    </p>
    <ng-template pTemplate="footer">
      <p-button label="Responder" icon="pi pi-check"></p-button>
    </ng-template>
  </p-card>
</main>
