<section class="home container-custom">
  <div>
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="Cómo jugar">
        <p>
          Este es un reto especial por Halloween. * Te encuentras explorando una
          mansión abandonada llena de habitaciones. * En cada habitación tendrás
          que resolver un acertijo para poder avanzar a la siguiente. * Tu misión
          es encontrar la habitación de los dulces.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div>
    <q-and-a></q-and-a>
  </div>
</section>
