@import "../../../../themes/variables.scss";

.home {
  padding: 24px 0;
}

.container-custom {
  width: 90%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}

button:disabled {
  opacity: 0.5; // Cambiar la opacidad cuando el botón esté deshabilitado
  cursor: not-allowed; // Cambiar el cursor cuando el botón esté deshabilitado
  background-color: gray; // Cambiar el color de fondo cuando el botón esté deshabilitado
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 768px) {
  .container-custom {
    width: 65%;
  }
}
