@import "../../../themes/variables.scss";

.footer {
  width: 100%;
  padding: 24px;
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;

  background: $color-secondary;
}

a {
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
  &:hover {
    color: $color-tertiary;
    transition: 0.5s;
  }
}

// ====================== REPONSIVE PROPERTIES =================

@media (min-width: 768px) {
  .footer {
    font-size: 14px;
  }
}
